body {

  display: flex;
  flex-direction: row;

  background-image: url("img/bg_dirt.jpeg");
  background-size: cover;
  padding: 0%;
  margin: 0%;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* SCROLL BAR copy n paste cuz why not */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: lightgrey;
  }




.center_div {
  /* z-index: 2;*/

  background-color: rgba(0, 0, 0, 0.4);
  /* outline: groove;
  outline-width: 10px;
  outline-color: white; */
  padding: 10px;
  overflow: hidden;
  margin: auto;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  flex-direction: column;

}

.cdiv_tile {
  margin-top: 10px;
  top: 100px;
  height: 15%;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  outline: groove;
  outline-width: 10px;
  outline-color: white;
}

#cdiv_tile1 {
  /*background-image: url('img/tile/tier1.jpg');*/
}

#cdiv_tile2 {
  /*background-image: url('img/tile/tier2.jpg');*/
}


.score_container {
  background-color: lightgrey;
  height: fit-content;
  width: 100%;
  padding: 1%;
  outline: double;
  outline-width: 10px;
  outline-color: white;
}

.click_container {

  background-color: rgba(0, 0, 0, 0.7);
  width: 25%;
  padding: 10px;
  position: relative;
  display: flex;
  z-index: 1;
  outline: groove;
  outline-width: 10px;
  outline-color: white;
  place-content: center;   
  height: 100vh;
  overflow: hidden;
}

#click_image {
  opacity: 1;
  position: absolute;
  scale: 0.5;
  animation: rotate 100s linear infinite;
  transition: all 0.1s;
}

  #click_image:active {
      scale: 0.45;

  }


@keyframes rotate {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}


.upgrade_bar {
  transition: all 0.25s;
  /* animation-name: upgrade_bar_idle;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}

.upgrade_bar:hover {
  scale: 105%;
  transition: all 0.25s;
  /* animation-name: none; */
}

@keyframes upgrade_bar_idle {
  0% {
      transform: translate(0px,0px);
  }

  50% {
      transform: translate(10px,0px);
  }

  100% {
      transform: translate(0px,0px);
  }
}

.div_store {
  z-index: 5;
 
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  bottom: auto;
  max-width: 23%;
  width: 23%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;

  outline: ridge;
  outline-width: 10px;
  outline-color: white;
}

.store_upgrades {
  position: relative;

}

  .store_upgrades img {
      width: 10%;
  }

.upgrade_bar {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
}

  .upgrade_bar:hover {
      width: 100%;
      background-color: rgba(250, 230, 210, 0.6);
      
  }

  .upgrade_bar h2 {
      padding-left: 25px;
  }

  #upgrade_tier:hover {
      background-color: gold;
      -webkit-box-shadow: 0 0 25px gold;
      color: black;
  }

#upgrade_tool_tier2 {
  visibility: hidden;
}
#hire_worker_tier3 {
  visibility: hidden;
}
#upgrade_tool_tier3 {
  visibility: hidden;
}


.particle {

  width: 10px;
  height: 10px;
  position: relative;
  pointer-events: none;
  animation: particle-up 3s linear forwards;

}

@keyframes particle-up {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
      top: 0;
  }
}