body {
    background-color: rgb(231, 231, 231);
    padding: 0%;
    margin: 0%;
  }

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.click_container {
  background-color: rgb(221, 178, 121);
  width:25%;
  height:1000px;
  padding: 10px;
  position: relative;
  display: flex;
  z-index: 1;
}

.click_container img {
 height: 50%;
 width: 50%;
}